<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1 class="text-center login-title">Sign in to continue to MyApp</h1>
      <div class="account-wall">
        <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
             alt="">
        <form class="form-signin" [formGroup]="loginForm">
          <input type="text" class="form-control custom-input"
                 placeholder="username" autofocus
                 name="username" formControlName="username" id="username"
                 required>
          <ng-container *ngIf="!(loginForm.get('username').valid) &&
                      (loginForm.get('username').dirty || loginForm.get('username').touched)">
            <div *ngIf="validation.username.errors.required" style="color: red">
              Username cannot be empty
            </div>
          </ng-container>

          <input [type]="password" name="password" formControlName="password" id="password"
                  class="form-control custom-input" placeholder="Password"
                  required>
          <ng-container *ngIf="!(loginForm.get('password').valid) &&
                      (loginForm.get('password').dirty || loginForm.get('password').touched)">
            <div *ngIf="validation.password.errors.required" style="color: red">
              Password cannot be empty
            </div>
          </ng-container>

          <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="submitLoginForm()">
            Sign in</button>
        </form>
      </div>
      <a routerLink="/signup" class="text-center new-account">Create an account </a>
      <a routerLink="/create" class="text-center new-account">Create an advertisement as a Guest User</a>
    </div>
  </div>
</div>
