<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<div class="container" id="wrap">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form action="r" method="post" accept-charset="utf-8" class="form" role="form" [formGroup]="viewallAdvertisementForm">
        <div>
          <legend>Advertisement Page</legend>
        </div>

        <div class="row">
          <div class="col-md-4">
            <select name="category" formControlName="category"
                    class="form-control custom-input"
                    placeholder="Category" (change)="getAllAdvertisements($event.target.value)">
              <option value="" disabled="true" selected>Select Category</option>
              <option *ngFor="let category of categories" [value]=category.id>{{category.name}}</option>
            </select>
            <div *ngIf="validation.category.touched && validation.category.errors"
                 class="invalid-feedback">
              <div *ngIf="validation.category.errors.required">Category is required</div>
            </div>
          </div>
        </div>
      </form>
      <br/>
      <table>
        <thead>
        <tr>
          <th scope="col">Advertisement ID</th>
          <th scope="col">Title</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody
          *ngFor="let advertisement of advertisements | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; let index = index ">
        <tr>
          <td>{{advertisement.id}}</td>
          <td>{{advertisement.title}}</td>
          <td>
<!--            <button type="button" class="btn btn-dark" (click)="clickEditBtn(advertisement.id, index)"><i class="fa fa-edit"></i></button>-->
            <button type="button" class="btn btn-dark" (click)="clickViewBtn(advertisement)"><i class="fa fa-eye" aria-hidden="true"></i></button>
<!--            <button type="button" class="btn btn-dark" (click)="clickDeleteBtn(advertisement.id, index)"><i class="fa fa-trash" aria-hidden="true"></i></button>-->
          </td>

        </tr>
        </tbody>
      </table>
      <!--      <ngb-pagination [collectionSize]="advertisements.length" [pageSize]="5"-->
      <!--                      [boundaryLinks]="true" [maxSize]="5" [rotate]="true"-->
      <!--                      [ellipses]="false" [(page)]="page"></ngb-pagination>-->
      <pre>Records: {{advertisements.length}}</pre>

      <div class="row">
        <div class="col-md-4" *ngIf="!view">
          <button (click)="logout()">Back</button>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="row" *ngIf="view">
    <div class="col-md-6 col-md-offset-3">
      <form action="r" method="post" accept-charset="utf-8" class="form" role="form" [formGroup]="viewAdvertisementForm">
        <div class="col-xs-6 col-md-8">
          <legend>Advertisement :  {{selectedAdvertisement?.title}}</legend>
        </div>

        <div class="row">
          <input
            type="text" name="title"
            value="" class="form-control input-lg"
            placeholder="Title"
            formControlName="title"
            [readonly]="true"
          />
        </div>
        <div class="row">
          <input
            type="text" name="imageurl"
            value="" class="form-control input-lg"
            placeholder="Image URL"
            formControlName="imageurl"
            [readonly]="true"
          />
        </div>
        <div class="row">
          <select name="category" formControlName="category"
                  class="form-control custom-input"
                  placeholder="Category"
                  disabled='true'>
            <option value="" disabled="true" selected>Select Category</option>
            <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
          </select>
        </div>
        <div class="row">
          <input
            type="text" name="content"
            value="" class="form-control input-lg"
            placeholder="Content"
            formControlName="content"
            [readonly]="true"
          />
        </div>
        <div class="row">
          <input
            type="text" name="time"
            value="" class="form-control input-lg"
            placeholder="Time"
            formControlName="time"
            [readonly]="true"
          />
        </div>
        <br/>
      </form>
      <br/>
      <div class="col-xs-6 col-md-4" *ngIf="view">
        <button (click)="logout()">Back</button>
      </div>
    </div>
  </div>
</div>

