#wrap{
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
legend{
  color:#141823;
  font-size:25px;
  font-weight:bold;
}
.signup-btn {
  background: #88c9e3;
  background-image: -webkit-linear-gradient(top, #88c9e3, #88c9e3);
  background-image: -moz-linear-gradient(top, #88c9e3, #88c9e3);
  background-image: -ms-linear-gradient(top, #88c9e3, #88c9e3);
  background-image: -o-linear-gradient(top, #88c9e3, #88c9e3);
  background-image: linear-gradient(to bottom, #88c9e3, #88c9e3);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #88c9e3;
  -moz-box-shadow: 0px 0px 0px #88c9e3;
  box-shadow: 0px 0px 0px #88c9e3;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #5a8494 1px;
  text-decoration: none;
}

.signup-btn:hover {
  background: #88c9e3;
  background-image: -webkit-linear-gradient(top, #88c9e3, #5e7056);
  background-image: -moz-linear-gradient(top, #88c9e3, #5e7056);
  background-image: -ms-linear-gradient(top, #88c9e3, #5e7056);
  background-image: -o-linear-gradient(top, #88c9e3, #5e7056);
  background-image: linear-gradient(to bottom, #88c9e3, #5e7056);
  text-decoration: none;
}
.navbar-default .navbar-brand{
  color:#fff;
  font-size:30px;
  font-weight:bold;
}
.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
  #home{
    margin-top:50px;
  }
  #home .slogan{
    color: #0e385f;
    line-height: 29px;
    font-weight:bold;
  }
}

.invalid-feedback {
  color: red;
}

.redtxt {
  color: #DA1B1B;
}

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
  font-size: 13px;
}
