<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

<div class="container" id="wrap">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form action="r" method="post" accept-charset="utf-8" class="form" role="form" [formGroup]="createAdvertisementForm">
        <div class="col-md-8">
          <legend>Create Advertisement </legend>
        </div>

        <div class="ol-md-4">
          <div class="col-md-2" >
            <button (click)="logout()">Back</button>
          </div>
          <div class="col-md-2">
            <button (click)="allAdvertisements()">Advertisement Page >></button>
          </div>
        </div>

        <div class="row">
          <input
            type="text" name="title"
            value="" class="form-control input-lg"
            placeholder="Title"
            formControlName="title"
            [readonly]="view"
          />
          <div *ngIf="validation.title.touched && validation.title.errors"
               class="invalid-feedback">
            <div *ngIf="validation.title.errors.required">First Name is required</div>
            <div *ngIf="validation.title.errors.maxlength">Title must be at least 100 characters</div>
          </div>
        </div>
        <div class="row">
          <input
            type="text" name="imageurl"
            value="" class="form-control input-lg"
            placeholder="Image URL"
            formControlName="imageurl"
            [readonly]="view"
          />
          <div *ngIf="validation.imageurl.touched && validation.imageurl.errors"
               class="invalid-feedback">
            <div *ngIf="validation.imageurl.errors.required">First Name is required</div>
          </div>
        </div>
        <div class="row" *ngIf="view && edit || !view && !edit">
          <select name="category" formControlName="category"
                  class="form-control custom-input"
                  placeholder="Category"
                  [disabled]="false">
            <option value="" disabled="true" selected>Select Category</option>
            <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
          </select>
          <div *ngIf="validation.category.touched && validation.category.errors"
               class="invalid-feedback">
            <div *ngIf="validation.category.errors.required">Category is required</div>
          </div>
        </div>

        <div class="row" *ngIf="view && !edit || !view && edit">
          <select name="category" formControlName="category"
                  class="form-control custom-input"
                  placeholder="Category"
                  disabled="true">
            <option value="" disabled="true" selected>Select Category</option>
            <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
          </select>
        </div>

        <div class="row">
          <input
            type="text" name="content"
            value="" class="form-control input-lg"
            placeholder="Content"
            formControlName="content"
            [readonly]="view"
          />
          <div *ngIf="validation.content.touched && validation.content.errors"
               class="invalid-feedback">
            <div *ngIf="validation.content.errors.required">Content is required</div>
            <div *ngIf="validation.content.errors.maxlength">Content must be at least 500 characters</div>
          </div>
        </div>
        <div class="row"  *ngIf="!view">
          <input
            type="text" name="time"
            value={{now}} class="form-control input-lg"
            placeholder="Time"
            formControlName="time"
            [readonly]="true"
          />
        </div>
        <div class="row" *ngIf="view">
          <input
            type="text" name="time"
            value="" class="form-control input-lg"
            placeholder="Time"
            formControlName="time"
            [readonly]="view"
          />
        </div>
        <br/>

        <button *ngIf="!edit && !view" class="btn btn-lg btn-primary btn-block signup-btn" type="submit" (click)="createAdvertisement()">
          Create my advertisement
        </button>
        <button *ngIf="edit && !view" class="btn btn-lg btn-primary btn-block signup-btn" type="submit" (click)="updateAdvertisement()">
          Update my advertisement
        </button>
      </form>
      <br/>
      <div class="col-xs-6 col-md-8">
        <legend>Created Advertisements</legend>
      </div>
      <table>
        <thead>
        <tr>
          <th scope="col">Advertisement ID</th>
          <th scope="col">Category</th>
          <th scope="col">Title</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody
          *ngFor="let advertisement of advertisements | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; let index = index ">
        <tr>
          <td>{{advertisement.id}}</td>
          <td>{{advertisement.category.name}}</td>
          <td>{{advertisement.title}}</td>
          <td>
            <button type="button" class="btn btn-dark" (click)="clickEditBtn(advertisement)"><i class="fa fa-edit"></i></button>
            <button type="button" class="btn btn-dark" (click)="clickViewBtn(advertisement)"><i class="fa fa-eye" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-dark" (click)="clickDeleteBtn(advertisement)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </td>

        </tr>
        </tbody>
      </table>
<!--      <ngb-pagination [collectionSize]="advertisements.length" [pageSize]="5"-->
<!--                      [boundaryLinks]="true" [maxSize]="5" [rotate]="true"-->
<!--                      [ellipses]="false" [(page)]="page"></ngb-pagination>-->
      <pre>Records: {{advertisements.length}}</pre>
    </div>
  </div>
</div>
