<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" id="wrap">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form action="r" method="post" accept-charset="utf-8" class="form" role="form" [formGroup]="signupForm">
        <div class="row">
          <div class="form-group col-md-6">
            <legend>Sign Up</legend>
          </div>

          <div class="form-group col-md-6">
            <button (click)="logout()">Back</button>
          </div>
          <div class="form-group col-md-6">
            <h4>It's free and always will be.</h4>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-6 col-md-6">
            <input
              type="text" name="firstname"
              value="" class="form-control input-lg"
              placeholder="First Name"
              formControlName="firstname"
            />
            <div *ngIf="validation.firstname.touched && validation.firstname.errors"
                 class="invalid-feedback">
              <div *ngIf="validation.firstname.errors.required">First Name is required</div>
              <div *ngIf="validation.firstname.errors?.pattern">Numbers and Special Characters are not allowed</div>
            </div>
          </div>
          <div class="col-xs-6 col-md-6">
            <input
              type="text" name="lastname"
              value="" class="form-control input-lg"
              placeholder="Last Name"
              formControlName="lastname"
            />
            <div *ngIf="validation.lastname.touched && validation.lastname.errors"
                 class="invalid-feedback">
              <div *ngIf="validation.lastname.errors.required">Last Name is required</div>
              <div *ngIf="validation.lastname.errors?.pattern">Numbers and Special Characters are not allowed</div>
            </div>
          </div>
        </div>
        <input
          type="text" name="email"
          value="" class="form-control input-lg"
          placeholder="Your Email"
          formControlName="email"
        />
        <div *ngIf="validation.email.touched && validation.email.errors"
             class="invalid-feedback">
          <div *ngIf="validation.email.errors.required">Email is required</div>
          <div *ngIf="validation.email.errors.email">Invalid Email</div>
        </div>
        <input
          type="text" name="username"
          value="" class="form-control input-lg"
          placeholder="Username"
          formControlName="username"
        />
        <div *ngIf="validation.username.touched && validation.username.errors"
             class="invalid-feedback">
          <div *ngIf="validation.username.errors.required">Username is required</div>
          <div *ngIf="validation.username.errors?.pattern">Invalid Username</div>
        </div>
        <input
          type="password" name="password"
          value="" class="form-control input-lg"
          placeholder="Password"
          formControlName="password"
        />
        <div *ngIf="validation.password.touched && validation.password.errors"
             class="invalid-feedback">
          <div *ngIf="validation.password.errors.required">Password is required</div>
          <div *ngIf="validation.password.errors.minlength">Password must be at least 8 characters</div>
        </div>
        <input
          type="password" name="confirm_password"
          value="" class="form-control input-lg"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />
        <div *ngIf="validation.confirmPassword.touched && validation.confirmPassword.errors"
             class="invalid-feedback">
          <div *ngIf="validation.confirmPassword.errors.required">Confirm Password is required</div>
          <div *ngIf="validation.confirmPassword.errors.passswordNotMatched"> Passwords must match</div>
        </div>
        <br/>
        <span class="help-block">By clicking Create my account, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.</span>
        <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit" (click)="submit()">
          Create my account
        </button>
      </form>
    </div>
  </div>
</div>
